ENVIRONMENT=DEV

# Log Configurations
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s %(levelname)-5s [%(name)-25s] %(message)s
LOG_FILE=./logs/resumellmatch.log
LOG_TO_CONSOLE=true

# Database Configurations
DATABASE_URL=sqlite:///./example/output/storage.db

# Data Ingestion Configurations
DATA_DIR=./example

# Agent Configurations
AGENT_MODEL=gemma4:e4b

# Match Configuration
MATCH_THRESHOLD=8
LLM_WEIGHT=0.7
TEXT_WEIGHT=0.3