ENVIRONMENT=DEV

# Log Configurations
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s %(levelname)s [%(name)s] %(message)s
LOG_FILE=./logs/resumellmatch.log
LOG_TO_CONSOLE=true

# Database Configurations
DATABASE_URL=